PORT=3780
MATRIX_HOMESERVER_URL=https://matrix.example.org
MATRIX_USERNAME=botuser
MATRIX_PASSWORD=secret
ACCESS_TOKEN=bot7835739915:AAGcKWlVKR123
# MATRIX_TOKEN_CACHE_PATH=/var/lib/matrix-sender/token.json
# MATRIX_TOKEN_CACHE_TTL_DAYS=364
